@import url("https://fonts.googleapis.com/css?family=Assistant");

body {
  padding: 0px;
  margin: 0px;
}
/* First section */

.first-section {
  max-width: 100% !important;
  width: 100%;
}

.landing {
  height: 550px;
  background: #2f80ed;
}

.particles {
  display: block;
}

.titleBox {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.titleBox .dVote {
  font-family: Assistant;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 5px;
}

.titleBox .line {
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  height: 0px;
  border: 1px solid #fcfcfc;
}

.description {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translate(-50%, 0%);
  margin-left: auto;
  margin-right: auto;
}

.description .catch {
  text-align: center;
  font-family: Assistant;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #fcfcfc;
}

.cta-box {
  position: absolute;
  left: 50%;
  top: 340px;
  transform: translate(-50%, 0%);
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.cta-box .button {
  text-transform: none;
  margin: 0px;
  width: 450px;
}

.cta-box .button:hover {
  color: #2f80ed;
}

/* Second section */

.first-sec {
  margin-top: 100px;
}

.second-sec {
  margin-top: 50px;
  margin-bottom: 100px;
}

.why-box {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.why-box .image {
  margin-bottom: 17px;
  position: relative;
}

.why-box .anon {
  margin-bottom: 12px;
}

.why-box .security {
  margin-bottom: 8px;
}

.why-box .title {
  text-align: center;
  font-family: Assistant;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 48px;

  color: #333333;
}

.why-box .desc {
  margin-top: 20px;
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: justify;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  color: #000000;
}

.why-box .middleman-box {
  margin-bottom: 0px;
}

.middleman {
  height: 80px;
  width: 80px;
}

/* Third Section */

.third-section {
  max-width: 100% !important;
  width: 100%;
}

.third-section {
  height: 100%;
  background-color: #ee6c4d;
  text-align: center;
}

.third-section .title {
  margin-top: 80px;
  text-align: center;
  font-family: Assistant;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 60px;
  text-align: center;
  color: #fcfcfc;
}

.third-section .button {
  margin-top: 20px;
  width: 250px;
  height: 60px;
  background: #2f80ed;
  text-transform: none;
  margin-bottom: 80px;
}

/* Fourth section */
.fourth-section {
  max-width: 100% !important;
  width: 100%;
}

.fourth-section .particles {
  height: 800px !important;
}

.fourth-section {
  background-color: #2f80ed;
  text-align: center;
}

.fourth-section .title {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, 0%);
  text-align: center;
  font-family: Assistant;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 60px;
  text-align: center;
  color: #fcfcfc;
}

.fourth-section .video {
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* Fifth section */

.fifth-section {
  max-width: 100% !important;
  width: 80%;
  margin-top: 80px;
}

.fifth-section {
  text-align: center;
  margin-bottom: 100px;
}

.fifth-section .title {
  text-align: center;
  font-family: Assistant;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 60px;
  text-align: center;
  color: #333;
}

.fifth-section p {
  margin-top: 40px;
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 30px;
  text-align: justify;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;

  color: #333;
  text-align: center;
}

.votecon {
  width: 100%;
  margin-bottom: 0px;
}

.voteAddBox {
  width: 300px !important;
  margin-left: auto;
  margin-right: auto;
}

.addAgainstVote {
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 85px;
}

.votesAgainstText {
  float: left;
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 50px;
  color: #333;
  margin-left: 100px;
}

.votesForText {
  float: left;
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 50px;
  color: #333;
  margin-left: 100px;
}

.votecon p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.fifth-section .line {
  width: 180px;
  height: 0px;
  border: 1px solid #333;
  opacity: 0.8;
  margin-top: 0px;
}

.dvote {
  padding-bottom: 80px;
  border-bottom: 1px solid #333;
}

.errorMessage {
  font-size: 20px !important;
  color: #ee6c4d !important;
}

.statusMessage {
  font-size: 20px !important;
  color: #03b5aa !important;
}

/* FAQ */

.faq {
  text-align: justify !important;
  margin: 0px;
  margin-top: 80px;
  width: 100%;
}

.faq .question {
  font-family: Assistant;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.faq .title {
  font-size: 40px !important;
  font-family: Assistant;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 30px;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.faq .answer {
  margin-top: 0px;
  font-family: Assistant;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 20px;
  color: #333;
  text-align: justify;
  margin-bottom: 20px;
  line-height: 1.4;
}

/*Footer */

.all-footer {
  max-width: 100% !important;
  width: 100%;
}

.footer-box {
  max-width: 100% !important;
  width: 100%;
  text-align: center;
}

.footer {
  max-width: 100% !important;
  width: 100%;
  background-color: #222;
  color: #fff !important;
  height: 250px;
  display: table;
}

.footer p {
  color: #fff !important;
  font-family: Assistant;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 20px;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

/* Componens */

.button {
  width: 350px;
  height: 60px;
  background: #ee6c4d;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  font-family: Assistant;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  font-size: 36px;
  text-align: center;
  color: #ffffff;

  transition: all 0.2s ease-in-out;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  transform: scale(1.1);
  background: #ffffff;
}

.button a:hover {
  text-decoration: none;
  color: #2f80ed;
}
